@font-face{
font-family:"PT Sans";
font-style:normal;
font-weight:400;
src:url("../fonts/ptsans-400.woff2") format("woff22");
font-display:swap;
}
@font-face{
font-family:"PT Sans";
font-style:normal;
font-weight:700;
src:url("../fonts/ptsans-700.woff2") format("woff22");
font-display:swap;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
html{
height: 100%;
}
body{
margin:0;
display:flex;
flex-direction: column;
min-height: 100%;
font-family:"PT Sans",sans-serif;
font-size:16px;
font-weight:24px;
color:#333333;
background:#FFFFFF;
}
ul a{
text-decoration: none;}
.logo{
width: 140px;
margin-right:28px;
}
.container{
margin: 0 auto;
width: 1200px;
flex-grow: 1;
display:flex;
flex-direction: column;
}
.page-header{
background:#FFFFFF;
color:#000000;
}
.navigation-list navigation-user{
min-height: 25px;
min-width: 20px;
}
.navigation{
width: 1060px;
margin:0 auto;
display: flex;
}
.navigation-list{
margin: 0;
padding:0;
list-style-type: none;
width: 450px;
display: flex
}
.navigation-user{
max-width:300px;
margin-left: auto;
}
.page-container{
width:1200px;
margin:0 auto;
}
.navigation-link{
font-weight:700;
font-size:20px;
line-height:24px;
text-decoration:none;
color:#000000;
text-align:center;
padding:20px 16px;
display: block;
/*flex-wrap: wrap;*/
}
.main-index{
text-align:center;
background-image:url("../images/index-background.jpg");
background-repeat:no-repeat;
background-size:100% auto;
}
.welcome{
display:block;
margin: 52px auto 152px;
}
.header-title{
font-weight:700;
font-size:30px;
line-height:36px;
text-transform:uppercase;
color:#000000;
margin-bottom: 25px;
margin-top: 0;
}
.header-description{
font-weight:400;
font-size:22px;
line-height:26px;
margin-bottom: 90px;
margin-top: 0;
}
.advantages-list{
margin: 0;
padding: 0;
list-style-type: none;
}
.container-item{
margin:0;
padding:0;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.advantages-item1{
background-color:#82B3D3;
background-repeat:no-repeat;
width: 400px;
height: 384px;
}

.advantages-img{
  height: 384px;
}

.advantages-header-title{
font-weight:700;
font-size:24px;
line-height:28px;
color: #FFFFFF;
text-transform:uppercase;
margin-top: 92px;
margin-bottom: 62px;
}
.advantages-header-description{
font-weight:400;
font-size:18px;
line-height:21px;
color:#FFFFFF;;
}
.advantages-item5{
 background-color:#82B3D3;
 background-repeat:no-repeat;
 width: 400px;
 height: 384px;
}
.advantages-item2{
background-color:(131, 179, 211, 0.12);
background-repeat:no-repeat;
width: 400px;
height: 384px;
}
.advantages-title{
font-weight:700;
font-size:24px;
line-height:28px;
color:#000000;
text-transform:uppercase;
margin-top:102px;
margin-bottom: 63px;
}
.advantages-description{
font-weight:400;
font-size:18px;
line-height:21px;
}
.advantages-item4{
width:400px;
height: 384px;
}
.advantages-item3{
background-color:rgba(131, 179, 211, 0.2);
width: 400px;
height: 384px;
}
.service-item1{
background-color:rgba(131, 179, 211, 0.12);
width: 400px;
height:384px;
list-style-type: none;
}
.service-item2{
width: 400px;
height:384px;
list-style-type: none;
}
.service-item3{
background-color:rgba(131, 179, 211, 0.2);
width: 400px;
height:384px;
list-style-type: none;
}
.service-title{
font-weight:700;
font-size:24px;
line-height:28px;
color:#000000;
text-transform:uppercase;
margin-top: 0;
}
.service-description{
font-weight:400;
font-size:18px;
line-height:21px;
margin-top: 0;
margin-bottom: 81px;
}
.img-home{
margin-top: 80px;
margin-bottom: 30px;
}
.img-food{
  margin-top: 80px;
  margin-bottom: 30px;
}
.img-suvenirs{
  margin-top: 80px;
  margin-bottom: 30px;
}
.search-title{
font-weight:700;
font-size:30px;
line-height:36px;
color:#000000;
text-transform:uppercase;
margin-top: 80px;
display: block;
margin-bottom: 20px;
}
.search{
  margin-top:0;
  padding-top: 1px;
  height: 405px;
}
.search a{
display: block;
margin-bottom: 104px;
}
.search-description{
font-weight:400;
font-size:22px;
line-height:26px;
margin-top: 0;
margin-bottom: 54px;
}
.subscribe{
background-image:url("../images/subscribe-backround.jpg");
background-size:100% auto;
background-repeat:no-repeat;
height: 413px;
padding-top: 2px;
}
.subscribe-title{
font-weight:700;
font-size:30px;
line-height:36px;
color:#FFFFFF;
text-transform:uppercase;
margin-top: 96px;
margin-bottom: 20px;
}
.subscribe-description{
font-weight:400;
font-size:22px;
line-height:26px;
color: #FFFFFF;
margin-bottom: 54px;
margin-top: 0;
}
.index-footer{
text-align:center;
padding: 45px 0 35px;
}
.contacts-phone{
font-weight:700;
font-size:40px;
line-height:40px;
color:#000000;
text-transform:uppercase;
text-decoration:none;
min-width: 331px;
margin: auto;
}
.page-footer-container{
display: flex;
justify-content:space-between;
}
.social-networks-list{
margin: 0;
padding: 0;
list-style-type: none;
height: 40px;
width: 150px;
display: flex;
flex-wrap: wrap;
align-items: center;
}
.social-networks-item{
 min-height: 40px;
 min-width: 48px;

}
.navigation-link-logo{
  margin-right: 71px;
}
.social-networks{
  margin: 0 0 0 70px;
}
/* catalog*/
.main-iner{
background-image:url("../images/catalog-background.jpg");
background-repeat:no-repeat;
background-size:100% auto;
}
.catalog-right-column{
width: 1060px;
margin: 0 auto;
}
.iner-header-title{
font-weight:700;
font-size:60px;
line-height:78px;
color:#FFFFFF;
text-transform:uppercase;
margin-top: 35px;
margin-bottom: 8px;
margin-left: 70px;
}
.breadcrums-link{
font-weight:400;
font-size:16px;
line-height:21px;
color: #FFFFFF;
margin-right: 28px;
}
.filter-list-group{
font-weight:400;
font-size:18px;
line-height:23px;
color: #FFFFFF;
}
.filter-list-title{
font-weight:700;
font-size:20px;
line-height:24px;
color:#FFFFFF;
}
.found-hotel{
font-weight:700;
font-size:30px;
line-height:36px;
color:#000000;
text-transform:uppercase;
}
.product-card-item{
font-weight:400;
font-size:18px;
line-height:21px;
padding: 20px;
display: grid;
grid-template-columns: auto auto;
column-gap: 20px;
row-gap: 16px;
}
.product-card-price{
  justify-self: end;

}
.product-card-link{
  grid-column: 1/-1;
}
.product-card-title{
  margin: 0;
}
.product-card-image{
  margin-bottom: 16px;
}

.product-card-title {
font-weight:700;
font-size:24px;
line-height:28px;
color:#000000;
}
.product-card{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin-bottom: 40px;
}
.all-star{
color:#83B3D3;
}
.rating{
font-weight:400;
font-size:16px;
justify-self: center;
}
.button{
font-weight:700;
font-size:16px;
line-height:20px;
text-decoration:none;
text-transform:uppercase;
}
.product-card-button{
  justify-self: center;
}
.product-save-button{
justify-self: center;

}
.button-all{
font-size:20px;
line-height:36px;
}
.pagination{
display: flex;
list-style-type: none;
margin:80px 730px 60px 70px;
padding: 0;
width: 400px;
height: 60px;
}
.pagination-item:not(:last-child) {
margin-right: 8px;
}
.pagination-item{
font-size:20px;
line-height:36px;
}
.pagination-link{
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  margin: auto auto;
  padding: 12px 24px;
  border-radius: 4px;
}
.pagination-current{
background-color: #F2F2F2;
color: #000000;
}
.white-current{
  background-color: #ffffff;
color: #000000;}
.catalog-subscribe-title{
  font-weight:700;
  font-size:30px;
  line-height:36px;
  color:#000000;
  text-transform:uppercase;
  padding-top: 96px;
  margin:0 auto 20px;
}
.catalog-subscribe-description{
  font-weight:400;
  font-size:22px;
  line-height:26px;
  margin-bottom:0 auto 54px;
}
.social-networks{
width: 200px;
}
.filter-list-product{
display: flex;
}
.catalog-subscribe{
text-align: center;
height: 414px;
}
.breadcrumbs{
margin-top: 0;
margin-bottom: 40px;
margin-left:71px ;
padding: 0;
list-style-type: none;
display: flex;
}
.search-hotel{
display: flex;
width: 1060px;
margin: 0 70px 40px;
justify-content: space-between;
}

.search-hotel .button{
width: 48px;
height: 48px;
}
.select-control{
margin-left: 220px;
width: 292px;
}
