@font-face{
  font-family:"PT Sans";
  font-style:normal;
 font-weight: 400;
 src:url("../fonts/ptsans-400.woff2") format("woff22");
 font-display: swap;
}
@font-face{
 font-family:"PT Sans";
 font-style:normal;
 font-weight: 700;
 src:url("../fonts/ptsans-700.woff2") format("woff22");
 font-display: swap;
}
body{
  font-family:"PT Sans",sans-serif;
font-size: 16px;
font-weight: 24px;
color:#333333;
background:#FFFFFF;
}
.page-header{
  background:#FFFFFF;
  color:#000000;
}

.navigation-link{
font-weight: 700;
font-size:20px;
line-height: 24px;
text-decoration: none;
color: #000000;
text-align: center;
}
.main-index{
  text-align: center;
  background-image:url("../images/index-background.jpg");
  background-repeat: no-repeat;
background-size: 100% auto;
}
.header-title{
  font-weight: 700;
  font-size:30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;

}

.header-description{
  font-weight: 400;
  font-size:22px;
  line-height: 26px;
}
.advantages-item1{
  background-color: #82B3D3;
  background-repeat: no-repeat;

}
.advantages-header-title{
  font-weight: 700;
  font-size:24px;
  line-height: 28px;
  color: #FFFFFF;
  text-transform: uppercase;

}
.advantages-header-description{
  font-weight: 400;
  font-size:18px;
  line-height: 21px;
  color:  #FFFFFF;;
}
.advantages-item5{
 background-color:#82B3D3;
 background-repeat: no-repeat;

}
.advantages-item2{
  background-color: (131, 179, 211, 0.12);
  background-repeat: no-repeat;

}
.advantages-title{
  font-weight: 700;
  font-size:24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}
.advantages-description{
  font-weight: 400;
  font-size:18px;
  line-height: 21px;
  }
  .advantages-item3{
    background-color: rgba(131, 179, 211, 0.2);
  }
  .service-item1{
    background-color: rgba(131, 179, 211, 0.12);
  }
  .service-item3{
    background-color: rgba(131, 179, 211, 0.2);

  }
.service-title{
  font-weight: 700;
  font-size:24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}
.service-description{
  font-weight: 400;
  font-size:18px;
  line-height: 21px;
}
.search-title{
  font-weight: 700;
  font-size:30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.search-description{
  font-weight: 400;
  font-size:22px;
  line-height: 26px;
}

.subscribe{
  background-image:url("../images/subscribe-backround.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}
.subscribe-title{
  font-weight: 700;
  font-size:30px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.subscribe-description{
font-weight: 400;
font-size:22px;
line-height: 26px;
color: #FFFFFF;
}

.index-footer{
  text-align: center;
}

.contacts-phone{

font-weight: 700;
font-size:40px;
line-height: 40px;
color:#000000;
text-transform: uppercase;
}
/* catalog*/
.main-iner{
background-image: url("../images/catalog-background.jpg");
background-repeat: no-repeat;
background-size: 100% auto;
}
.iner-header-title{
  font-weight: 700;
  font-size:60px;
  line-height: 78px;
  color:#FFFFFF;
  text-transform: uppercase;
}
.breadcrums-link{
  font-weight: 400;
  font-size:16px;
  line-height: 21px;
  color: #FFFFFF;
}
.filter-list-group{
  font-weight: 400;
  font-size:18px;
  line-height: 23px;
  color: #FFFFFF;
}
.filter-list-title{
  font-weight: 700;
  font-size:20px;
  line-height: 24px;
  color:#FFFFFF;

}
.found-hotel{
  font-weight: 700;
  font-size:30px;
  line-height: 36px;
  color:#000000;
  text-transform: uppercase;

}
.product-card-title {
  font-weight: 700;
  font-size:24px;
  line-height: 28px;
  color:#000000;
  text-transform: uppercase;

}
ul a{
  text-decoration: none;
}
.product-card-name{
  font-weight: 400;
  font-size:18px;
  line-height: 21px;


}
.product-card-price{
  font-weight: 400;
  font-size:18px;
  line-height: 21px;
}
.all-star{
  color:#83B3D3 ;

}
.rating{
  font-weight: 400;
  font-size:16px;
  line-height: 20px;
}
.catalog-subscribe-title{
  font-weight: 700;
  font-size:30px;
  line-height: 36px;
  color:#000000;
  text-transform: uppercase;

}
.catalog-subscribe-description{
  font-weight: 400;
  font-size:22px;
  line-height: 26px;
}
